/* add your own styles here */

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#imageContainer {
    margin: auto;
}

#imageContainer img {
    max-width: 90%;
    /* height: 400px; */
    margin: auto;
}